.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

h1 {
  font-size: 24px;
  color: #003366;
}

.nav-links a {
  margin: 50px; 
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  margin-left: 15px; 
  cursor: pointer;
}

.icon-button img {
  width: 40px;
  height: 40px;
} 

@media (max-width: 425px) {
  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}