@media (max-width:600px) {
    .Rojo{
        width:100vw;
    }

    .micontainer{
        display: block;
    }

    .imagenPelicula {
        display: none;
    }

    .ContieneEntradas{
        width: auto;
        justify-self: center;
    }
}

.micontainer{
    display: flex;
}

.FilaPrecio {
    justify-content: center;
}

.nombre{
    width: 100px;
}