
.boton-sec {
    display: flex;
    position: relative;
    opacity: 0;
}

.boton-sec:hover {
    opacity: 1;
}

.org-tabla {
    overflow: hidden;
}

.org-tabla tr:not(:last-child) td:last-child  {
    padding-right: 1rem;
}

.org-tabla thead .boton-sec {
    left: 1rem;
    margin-bottom: 0.5rem;
}

.org-tabla tbody .boton-sec {
    flex-direction: column;
    top: -1.2rem;
    margin-right: 0.5rem;
    width: 1rem;
}

.boton-sec button {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    border-radius: 20%;
    position: relative;
}

.boton-sec button:hover {
    background-color: white;
    color: black;
}

.org-tabla tbody .boton-sec-add:hover::before {
    content: " ";
    background-color: #0d6efd;
    box-shadow: 1px 1px 5px 1px #0d6dfd97;
    width: 100vw;
    height: 2px;
    top: 0;
    left: 1.8rem;
    position: absolute;
}

.org-tabla tbody tr:not(:last-child) .boton-sec-substract:hover::before {
    content: " ";
    background-color: #072c6428;
    box-shadow: 0px 0px 5px 1px #072c64c1;
    width: 100vw;
    height: 32px;
    top: 18.5px;
    left: 1.8rem;
    position: absolute;
}

.org-tabla thead .boton-sec-add:hover::before {
    content: " ";
    background-color: #0d6efd;
    box-shadow: 1px 1px 5px 1px #0d6dfd97;
    left: -0.9px;
    top: 1.3rem;
    width: 2px;
    height: 100vh;
    position: absolute;
}

.org-tabla thead td:not(:last-child) .boton-sec-substract:hover::before {
    content: " ";
    background-color: #072c6428;
    box-shadow: 0px 0px 5px 1px #072c64c1;
    top: 1.3rem;
    left: 17px;
    width: 32px;
    height: 1000vh;
    position: absolute;
}

.celda {
    width: 2rem;
    height: 2rem;
}

.celda input {
    width: 100%;
    height: 100%;
    
    appearance: none;
    border-style: solid;
    border-radius: 30%;
    
    overflow: hidden;
    
    display: grid;
    place-content: center;
    background-color: white;
}

.celda input:hover {
    background-color: rgb(206, 206, 206);
}

.celda input:checked::before {
    content: " ";

    --celdainput-size: 1.5rem;

    width: var(--celdainput-size);
    height: var(--celdainput-size);
}

.celda input[data-estado="activo"]::before {
    --celdainput-size: 1.5rem;

    box-shadow: inset var(--celdainput-size) var(--celdainput-size) rgb(0, 0, 0);
    border-radius: 30%;
}

.celda input[data-estado="discapacitado"]::before {
    --celdainput-size: 1.5rem;

    box-shadow: inset var(--celdainput-size) var(--celdainput-size) #3f48cc;
    border-radius: 30%;
}