.butaca-container {
    border-top: rgb(0, 119, 255) solid 4px;
    padding-top: 8rem;
    margin: 2rem 0;
}

.butaca-map {
    margin: 1rem 0;
}

.butaca-map h1 {
    text-align: center;
}

.butaca-table td {
    width: 50px;
    height: 50px;
}

.butaca-table td input {
    width: 100%;
    height: 100%;
}

.butaca-celda {
    appearance: none;

    background-color: white;
    border-style: solid;
    border-radius: 50%;

    overflow: hidden;
    
    display: grid;
    place-content: center;
}

.butaca-no-existe {
    border-color: rgba(255, 255, 255, 0);
}

.butaca-discapacitado {
    border-color: rgb(104, 104, 255);
}

.butaca-ocupado {
    border-color: rgb(255, 104, 104);
}

.butaca-celda:checked::before {
    content: " ";
    width: 2em;
    height: 2em;
    box-shadow: inset 2em 2em rgb(104, 104, 255);

    border-radius: 50%;
 }