.imagenPelicula{
    width: 18vw;
    height: auto;
    
}

.infoPelicula{
    width: 50%;
    padding-inline: 5%;
}

@media (max-width: 768px) {
    .h2,
    .h3,
    .h4,
    .h5{
        text-align: center;
    }*/
    input{
        justify-self: center;
    }
    .card-title{
        text-align: left;
    }

    .infoPelicula{
        padding-inline: 0%;
    }
    
}
