.butaca-map {
    margin: 1rem 0;
}

.butaca-map h1 {
    text-align: center;
}

.butaca-table td input {
    width: 100%;
    height: 100%;
}

.butaca-table:not(.butaca-hist) thead td {
    padding-bottom: 2rem;
}

.butaca-table:not(.butaca-hist) tbody td:first-child {
    padding-right: 1rem;
}

.butaca-table:not(.butaca-hist) tbody td:last-child {
    padding-left: 1rem;
}

.butaca-celda-wrapper {
    width: 30px;
    height: 30px;
}

.butaca-celda {
    appearance: none;

    background-color: white;
    border-style: solid;
    border-width: 0.14rem;
    border-radius: 50%;
    border-color: rgb(41, 41, 41);

    overflow: hidden;

    display: grid;
    place-content: center;

    transition-property: transform;
    transition-duration: 0.05s;
}

.butaca-celda:hover {
    border-width: 0.17rem;
}

.butaca-celda:active {
    transform: scale(1.1);
}

.butaca-no-existe {
    border-color: rgba(255, 255, 255, 0);
}

.butaca-discapacitado {
    border-color: #4B90FF;
}

.butaca-ocupado {
    border-color: rgb(255, 104, 104);
}

.butaca-celda::before {
    --butaca-size: 0rem;
    --butaca-color: #4B90FF;

    content: " ";
    width: var(--butaca-size);
    height: var(--butaca-size);
    box-shadow: inset var(--butaca-size) var(--butaca-size) #4B90FF;

    border-radius: 50%;
    transition-property: width height;
    transition-duration: 0.1s;
}

.butaca-ocupado::before {
    box-shadow: inset var(--butaca-size) var(--butaca-size) rgb(255, 104, 104);
}

.butaca-celda:checked::before {
    --butaca-size: 1.2em;

}

.width-fila-header-venta>* {
    width: 50%;
}

.width-fila-header-venta>*:nth-child(1) {
    padding-left: 1.5rem;
}

.width-fila-header-venta>*:nth-child(2) {
    padding-right: 1.5rem;
}

.width-pantalla {
    width: 400px;
}

@media (max-width: 768px) {
    .width-fila-header-venta>* {
        width: 100%;
        padding: 0% !important;
    }
}

@media (max-width: 425px) {
    .width-pantalla {
        width: 350px;
    }
}


@media (max-width: 375px) {
    .width-pantalla {
        width: 300px;
    }
}