.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  position: relative;
  z-index: 20;
}

.shadow-gray{
  box-shadow: #bdbdbd 0px 0px 50px;
}

.shadow-black{
  box-shadow: black 0px 0px 50px;
}

.nav-links a {
  margin: 50px; 
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button img {
  width: 40px;
  height: 40px;
} 

@media (max-width: 425px) {
  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}