.mytable2 {
    width: 100%;
}

.th2,
.td2 {
    text-align: left;
}

.opciones {
    white-space: nowrap;
    width: 1%
}

.tdEstado {
    width: 100px;
}

.tdOpciones {
    width: 250px;
}

@media (max-width: 685px) {

    .mytable2,
    .thead2,
    .tbody2,
    .th2,
    .td2,
    .tr2 {
        display: block;

    }

    .thead2 {
        display: none;
    }

    .tr2 {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
    }

    .td2 {
        position: relative;
        padding-left: 50%;
        text-align: right;
        border: none;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: flex-end;
    }

    .ms-end {
        text-align: right;
        width: 400px;
    }



    .mytable2>:not(caption)>*>* {
        box-shadow: none;
    }

    .td2::before {
        text-align: left;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding-top: 0.85rem;
        padding-left: 0.75rem;
        font-weight: bold;
        white-space: nowrap;
    }

    .sinopsis {
        display: flex;
        justify-content: right;
        justify-self: flex-end;
        width: 80%;
    }

    .opciones {
        white-space: nowrap;
        width: 100%
    }

    .tdEstado {
        width: 100%;
    }

    .tdOpciones {
        width: 100%;
    }

}