.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mybtn-outline-primary {
    color: var(--cineagile-blue-500);
    border-color: var(--cineagile-blue-500);
    border-width: 2px;
    font-weight: 500;
}

.mybtn-outline-primary:active,
.mybtn-outline-primary:hover {
    color: var(--cineagile-blue-400);
    border-color: var(--cineagile-blue-400);
    background-color: aliceblue;
    border-width: 2px;
    font-weight: 500;
}
    
.cantidad-disponible.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cantidad-disponible.fade.show {
  opacity: 1;
}
