.graphic2 {
    width: var(--chart-width);
    height: 500px
}

.graphic3 {
    width: 700px;
    height: 300px
}

.radial-bar-label {
    font-size: 12px;
}

.w-flex {
    width: 100%;
}

@media (max-width: 900px) {
    .graphic2 {
        width: cal(var(--chart-width) - 10px);
        height: 250px
    }

    .graphic3 {
        width: 450px;
        height: 300px
    }

    .radial-bar-label {
        font-size: 10px;
    }
}

@media (max-width: 510px) {
    .graphic2 {
        width: cal(var(--chart-width) - 10px);
        height: 250px
    }

    .graphic3 {
        width: 320px;
        height: 300px
    }

    .radial-bar-label {
        font-size: 7px;
    }

    .w-flex {
        max-width: 110%;
        width: 110%;
        font-size: 10px;
    }

}


.desempenoSemanal {
    left: -4%;
}

@media (max-width: 758px) {
    .desempenoSemanal {
        max-width: 105%;
        width: 105%;
        font-size: 10px;
        left: -10%;
    }
}

@media (max-width: 508px) {
    .desempenoSemanal {
        max-width: 110%;
        width: 110%;
        font-size: 10px;
        left: -15%;
    }
    .titulo-desempeno{
        font-size: 17px;
    }
}

@media (max-width: 1000px) {
    .panel {
        flex-wrap: wrap;
    }
}

text {
    transform: rotateX(-9deg);
}

.recharts-surface {
    outline: none;
}