@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0%;
}

.azulOscuro {
  color: #01217B;
}

.btn-primary {
  background-color: #01217B;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}
.btn-primary:hover {
  background-color: #0A2B9C;
}
.btn-primary:active {
  background-color: #011A5C;
}

.toast-info {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0a2c9cd6;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  opacity: 1;
  animation: fadeOut 3s forwards;
  z-index: 1000;
}

.toast-danger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #9c0a0ad6;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  opacity: 1;
  animation: fadeOut 3s forwards;
  z-index: 1000;
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}
