@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.saira-semibold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ancizar-sans-regular {
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0%;
}

.azulOscuro {
  color: #01217B;
}

.btn-primary {
  background-color: #01217B;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;

}

.btn-primary-gradient {
  color: white;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: linear-gradient(to right, #0A2B9C, #01217B);
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.btn-primary:hover {
  background-color: #0A2B9C;
}

.btn-primary-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #0040ffbb;
}

.btn-danger-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #c70000bb;
}

.btn-warning-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #e4ac06bb;
}

.btn-primary:active {
  background-color: #011A5C;
}

.btn-danger:hover {
  background-color: #9c0a0a;
}

.btn-danger:active {
  background-color: #7b0101;
}

.btn-danger {
  background-color: #7b0101;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

.btn-danger-gradient {
  color: white;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: linear-gradient(to right, #9c0a0a, #7b0101);
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.btn-warning-gradient {
  color: white;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: linear-gradient(to right, #e4ac06, #c69501);
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}


@media (max-width: 400px) {
  .btn-primary-gradient,
  .btn-danger-gradient,
  .btn-warning-gradient {
    padding: 8px 20px;
  }
}

.btn-success:hover {
  background-color: #0a9c19;
}

.btn-success:active {
  background-color: #015c04;
}

.btn-success {
  background-color: #015c04;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}