@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cineagile-blue-600: #011A5C;
  --cineagile-blue-500: #01217B;
  --cineagile-blue-400: #0A2B9C;
  --cineagile-blue-300: #2563eb;
  --green-sucess-500: #015c04;
  --green-sucess-400: #0a9c19;
  --red-danger-500: #7b0101;
}

.cineagile-blue-500{
  color: var(--cineagile-blue-500)
}

.cineagile-blue-400{
  color: var(--cineagile-blue-400)
}

.saira-semibold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ancizar-sans-regular {
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--cineagile-blue-500);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

.btn-primary-gradient {
  color: white;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: linear-gradient(to right, var(--cineagile-blue-400), var(--cineagile-blue-500));
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.btn-primary:hover {
  background-color: var(--cineagile-blue-400);
}

.btn-primary-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #0040ffbb;
}

.btn-danger-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #c70000bb;
}

.btn-warning-gradient:hover {
  box-shadow: 0 2px 15.4px 0.6px #e4ac06bb;
}

.btn-primary:active {
  background-color: var(--cineagile-blue-600);
}

.btn-danger:hover {
  background-color: #9c0a0a;
}

.btn-danger:active {
  background-color: var(--red-danger-500);
}

.btn-danger {
  background-color: var(--red-danger-500);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

.btn-danger-gradient {
  color: white;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: linear-gradient(to right, #9c0a0a, var(--red-danger-500));
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.btn-warning-gradient {
  color: black;
  text-decoration: none;
  border: none;

  padding: 8px 30px;
  border-radius: 999px;
  background: #e4ac06;
  background: linear-gradient(to right, #e4ac06, #c69501);
  font-family: 'Ancizar Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}


@media (max-width: 400px) {
  .btn-primary-gradient,
  .btn-danger-gradient,
  .btn-warning-gradient {
    padding: 8px 20px;
  }
}

.btn-success:hover {
  background-color: var(--green-sucess-400);
}

.btn-success:active {
  background-color: var(--green-sucess-500);
}

.btn-success {
  background-color: var(--green-sucess-500);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}