.film-panel {
    background-color: rgb(246, 246, 246);
    min-height: 900px;

    margin: 2rem;
    padding: 2rem;

    box-sizing: border-box;
}

.peli-cuerpo {
    background-color: rgb(204, 204, 204);
    padding: 1rem;
    box-sizing: border-box;
    height: inherit;
}

.mytab {
    display: inline-block;
    position: relative;
    font-weight: 600;
}

.mytab::after {
    content: "";
    position: absolute;
    height: 4px;
    background: linear-gradient(#023B99 50%, #01217B);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s;
    color: #01217B;
    width: 70%;
}

.active.mytab::before {
    content: "";
    position: absolute;
    height: 4px;
    background: linear-gradient(#023B99 50%, #01217B);
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.8s;
    background: linear-gradient(#023B99 50%, #01217B);
    width: 70%;
    color: #01217B;
}

.mytab:hover::after {
    transform: scaleX(1);
    background: linear-gradient(#023B99 50%, #01217B);
    width: 70%;
    color: #01217B;
}

.mytab,
.mytab:hover,
.active:hover,
.active {
    color: #01217B;
}

