.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.payment-method {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.payment-method:hover {
  background-color: #f3f4f6;
}

.selected.tarjeta,
.selected.billetera {
  border-color: var(--cineagile-blue-300);
  background-color: #ebf4ff;
  color: var(--cineagile-blue-300);
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-align: left;
}

.link {
  color: var(--cineagile-blue-300);
  text-decoration: none;

  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
}

.link:hover {
  text-decoration: underline;
}

/* MODAL CENTRADO Y ESTILOS */
.modal-terminos-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  z-index: 999;
}

.modal-terminos {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  /* texto alineado a la izquierda */
  display: block;
  /* importante para evitar conflicto flex */
}

.modal-terminos h3 {
  font-size: 20px;
  margin: 0 0 10px;
}

.modal-terminos p {
  font-size: 14px;
  line-height: 1.6;
}

/* FORMULARIO */
.formulario-contacto {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.direction {
  display: flex;
  flex-direction: row;
}

.direction-inverse {
  align-items: center;
  flex-direction: column;
}

.qr {
  width: 100%;
  height: auto;
}

.qr>* {
  width: 180px;
}

@media (max-width: 650px) {
  .detalleEntrada {
    font-size: 16px;
  }

  .direction {
    display: flex;
    flex-direction: column;
  }

  .direction-inverse {
    display: flex;
    flex-direction: row;
    width: 100% !important;
  }

  .direction-inverse>* {
    width: 50% !important;
  }

  .qr {
    width: 50% !important;
  }

  .qr>* {
    width: 135px;
  }
}

@media (max-width: 380px) {
  .detalleEntrada {
    font-size: 14px;
  }

  .qr>* {
    width: 105px;
  }
}

.andes-card {
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  color: #1f1f1f;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

.andes-form-control {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}